<nav class="pagination" role="navigation">
    {{#if prev}}
      <a class="button newer-posts" href="{{page_url prev}}">&#x2B05;</a>
    {{else}}
      <a class="button newer-posts" href="/">&#x2B05;</a>
    {{/if}}
    <h4 class="page-number" style="margin: auto">Page {{page}} of {{pages}}</h4>
    {{#if next}}
      <a class="button older-posts" href="{{page_url next}}">&#x27A1;</a>
    {{else}}
      <a class="button newer-posts">&#x27A1;</a>
    {{/if}}
</nav>
