{{!< default}}
{{!-- inject everything in this file into the {body} of default.hbs --}}

{{#if @blog.cover_image}}
  <header style="background-image: url({{@blog.cover_image}});">
{{else}}
  <header>
{{/if}}
  {{#if @site.logo}}
    <img class="header-logo" src="{{@site.logo}}" />
  {{else}}
    <div>
      <h2>{{@site.title}}</h2>
      <p>{{@site.description}}</p>
    </div>
  {{/if}}
</header>

{{#get "pages" slug="about" as |page|}}
  {{#if page}}
    {{#page}}
      <section class="about">
        <div class="container">
          {{content}}
        </div>
      </section>
    {{/page}}
  {{/if}}
{{/get}}

{{#get "pages" slug="who" as |page|}}
  {{#if page}}
    {{#page}}
      <section class="who">
        <div class="container">
          {{content}}
        </div>
      </section>
    {{/page}}
  {{/if}}
{{/get}}

{{#get "pages" slug="what" as |page|}}
  {{#if page}}
    {{#page}}
      <section class="what">
        <div class="container">
          {{content}}
        </div>
      </section>
    {{/page}}
  {{/if}}
{{/get}}

{{#get "pages" slug="when" as |page|}}
  {{#if page}}
    {{#page}}
      <section class="when">
        <div class="container">
          {{content}}
        </div>
      </section>
    {{/page}}
  {{/if}}
{{/get}}

<section class="home">
  <header>
    <div class="container">
      <h2>Latest Posts</h2>
    </div>
  </header>
  <div class="container card-group posts">
    {{#get "posts" limit="5" filter="tags:-routes" include="tags,authors"}}
      {{#foreach posts}}
        {{#if @first}}
          {{> "post-card" large=true}}
        {{else}}
          {{> "post-card"}}
        {{/if}}
      {{/foreach}}
    {{/get}}
  </div>
</section>

{{#get "posts" limit="5" filter="tags:routes" }}
  {{#if posts}}
    <section class="home">
      <header>
        <div class="container">
          <h2>Favorite Routes</h2>
        </div>
      </header>
      <div class="container card-group posts">
        {{#foreach posts}}
          {{#if @first}}
            {{> "route-card" large=true}}
          {{else}}
            {{> "route-card"}}
          {{/if}}
        {{/foreach}}
      </div>
    </section>
  {{/if}}
{{/get}}
