{{!< default}}
{{!-- inject everything in this file into the {body} of default.hbs --}}

{{#if @blog.cover_image}}
  <header style="background-image: url({{@blog.cover_image}});">
{{else}}
  <header>
{{/if}}
  {{#if @site.logo}}
    <img class="header-logo" src="{{@site.logo}}" />
  {{else}}
    <div>
      <h2>{{@site.title}}</h2>
      <p>{{@site.description}}</p>
    </div>
  {{/if}}
</header>

{{#get "pages" slug="about" as |page|}}
  {{#if page}}
    {{#page}}
      <section class="about">
        <div class="container">
          {{content}}
        </div>
      </section>
    {{/page}}
  {{/if}}
{{/get}}

<section class="home">
  <header>
    <div class="container">
      <h2>Latest Posts</h2>
    </div>
  </header>
  <div class="container card-group posts">
    {{#get "posts" limit="5" filter="tags:-routes" include="tags,authors"}}
      {{#foreach posts}}
        {{#if @first}}
          {{> "post-card" large=true}}
        {{else}}
          {{> "post-card"}}
        {{/if}}
      {{/foreach}}
    {{/get}}
  </div>
  <div class="container align-center" style="padding: 2em;">
    <a href="/blog/" class="button large">More blog posts &#x27A1;</a>
  </div>
</section>
