{{!< default}}
{{!-- inject everything in this file into the {body} of default.hbs --}}

{{!-- pull data from the post --}}
{{#post}}
<section>
  <header class="post-header">
    <h1 class="post-title">{{title}}</h1>
    <section class="post-meta">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="MMMM D, YYYY"}}
      </time>
    </section>
    <section class="post-author">
      {{#primary_author}}
        {{#if profile_image}}
          <img class="profile" src="{{profile_image}}" />
        {{/if}}
        <a href="{{url}}">{{name}}</a>
      {{/primary_author}}
    </section>
  </header>
  <article class="{{post_class}} container">
    <section class="post-content">
      {{content}}
    </section>
  </article>
</section>
{{/post}}
